* {
    font-family: 'Ribeye Marrow', cursive;
    text-align: center;
}

header {
    background-color: #F1EF9E; 
    
}

body {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0;
}

h1 {
    font-size: 2.7em;
}

nav {
    background-color: lightgray;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    
}

div {
   
}

h1 {
    display: inline;
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    width: 40px;
    transform: rotate(45deg);
}

footer {
    background-color: #F1EF9E;
    height: 200px;
}

button {
    height: 100px;
    width: 120px;
    border: none;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px gray;
    font-size: 1.2em;
}

button:hover {
    box-shadow: none;
    text-shadow: 5px 5px 5px #F1EF9E;
  }

input {
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    padding: 8px;
}

.search-button {
    height: 30px;
    font-size: 1em;
    width: 100px;
}

.content-container {
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 380px;
    margin: 30px auto;
    padding: 10px;
   
}