* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

header {
    flex: 0 0 auto;
}

footer {
    flex: 0 0 auto;
    height: 50px;
    background-color: #F9CB33;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9CB33;
}

.site-name {
    font-size: 2em;
    font-family: 'Ribeye Marrow', cursive;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    color: #581845;
}

.hamburger {
   background-color: #F9CB33;
}

.navbar a {
    text-decoration: none;
    color: #581845;
}

.nav-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;  
}

.nav-links li a {
    text-decoration: none;
    color: #581845;
    padding: 1rem;
    display: block;
}

.nav-links li:hover {
    background-color: #FCE28C;
}

.search-bar {
    display: none;
    margin: 10px;
}

.toggle {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
} 

.toggle .bar {
    height: 3px;
    width: 100%;
    background-color: #581845;
    border-radius: 10px;
} 

main {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Ribeye Marrow', cursive;
    font-size: 2.1em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

.bee {
    width: 40px;
    transform: rotate(45deg);
}

button {
    height: auto;
    width: auto;
    border: none;
    margin: 3px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px gray;
    font-size: .8em;
}

button:hover {
    box-shadow: none;
}

input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    padding: 8px; 
    border: none;
}

input[type='text'], textarea {
    background-color: #FCE28C;
}

.submit {
    border: none;
    background-color: lightgray;
    
}

.submit:hover {
    background-color: #FCE28C;
}

.remove-button {
    width: auto;
    height: auto;
    margin: 0 0 0 10px;
}

.create-button {
    font-family: 'Ribeye Marrow', cursive;
    font-size: 1em;
    margin: 20px 0px;
    
}

ol {
    text-align: center;
    list-style-position: inside;
}

ol li {
    margin: 20px;
}

.content-container {
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#content-name {
    flex: 0 0 auto;
}

.content-box {
    flex: 1 1 auto;
    overflow: auto;
}

#content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card-div {
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    min-height: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 7px lightgray;
}

.card-word {
    overflow-wrap: break-word;
    font-size: 1.3em;
    margin: 10px;
    padding: 5px;
}

.card-def {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: .8em;
    padding: 10px;
}

.star1,
.star2 {
    width: 30px;
    align-self: flex-end;
    justify-self: flex-end;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    *{
        font-size: 18px;
    }

    p {
        font-size: 1.1em;
    }
    
    .toggle {
        display: flex;
    }

    .nav-links {
        width: 100%;
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%
    }

    .nav-links li a {
        padding: .5rem 1rem;
        text-align: right;
        font-size: 1.1em;
    }

    .nav-links.active {
        display: flex;
    }

    .content-container {
        width: 90%;
    }

    .card-div {
        min-height: 350px;
    }
}

@media screen and (min-width: 1200px) {
    .search-bar {
        display: flex;
    }

    .card-div {
        width: 420px;
        min-height: 350px;
    }
}